.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, .5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    max-width: 270px;
    min-width: 270px;
    max-height: 390px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, .8);
    z-index: 1;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/src/assets/holo.png');
    background-size: cover;
    background-position: center;
    transition: opacity 0.4s ease;
    border-radius: 12px;
    pointer-events: none; /* Prevents overlay from blocking mouse events */
    opacity: 0;
    z-index: 2; /* Ensure overlay is above image */
}

.card:hover::after {
    opacity: .3;
}

.card .link {
    padding: 16px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .link:hover {
    text-decoration: underline;
    color: #0056b3;
}

.card-name-details-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.card-name-text {
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    max-width: 90%;
    padding: 16px;
    font-weight: bold;
}

.card-image {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 258px;
}

.card-image img {
    max-height:  100%;
    width: auto;
    z-index: -1;
}